{% extends "base.html" %}
{% load static %}

{% block content %}

<div>
    <h1 class="text-body">Bienvenido a la Tienda de Videoiuegos</h1>
    <p class="text-body">Explore nuestras catálogo y disfruta de las mejores ofertas.</p>

    <img src="{% static 'img/logo.png' %}" alt="Logo" class="img-fluid my-4" style="max-height:120vh;">

    <div class="alert alert-primary">¡Nuevo colección de Videojuegos disponibles esta semana!</div>
    <div class="alert alert-warning">Recuerda revisar las restricciones de edad para algunos titulos.</div>
    <div class="alert alert-danger">Algunos productos tienen stock limitado, ¡apresúrate!</div>
</div>
{% endblock %}