{% load static %}

<!DOCTYPE html>
<html lang="es" data-bs-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tienda de Videoiugos🎮🎮{% endblock %}</title>

    <!-- CSS 2-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-..." crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <!-- script -->
    <!--<script scr="{% static 'js/script.js' %}" defer></script> -->
<!-- INICIA HEAD -->
</head>
<body class="shadow-lg position-relative">
<header class="navbar navbar-expand-lg navbar-dark bg-dark position-relative">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark position-relative">
        <div class="container d-flex justify-content-between align-items-center">
            <!-- Boton modo oscuro -->
            <button
                id="toggle-theme"
                class="btn btn-outline-light rounded-circle shadow-sm"
                aria-label="Cambiar tema"
                title="Cambiar tema">
                <i class="fa-solid fa-circle-half-stroke"></i>                  
            </button>
            <!--Logo-->
            <a class="navbar-brand d-flex align-items-center" href="{% url 'home' %}" >
                <img src="{% static 'img/logo.png' %}" alt="Videoiugos Logo" style="max-height:40px;">
                <span class="fw-bold text-white">Videoiugos</span>
            </a>
            <!-- Botones a la derecha (modo oscuro + toggle) -->
            <div class="d-flex align-items-center">
                <!-- Botón toggle para móviles -->
                <button class="navbar-toggler me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarPF"
                        aria-controls="navbarPF" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <!-- Contenido colapsable -->
        <div class="collapse navbar-collapse" id="navbarPF">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" href="{% url 'home' %}">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Tienda</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Noticias</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'contacto' %}">Contacto</a></li>
            </ul>
            <!-- Formulario de búsqueda -->
        <form class="d-flex me-3" role="search">
            <input class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Buscar">
            <button class="btn btn-outline-info" type="submit">Buscar</button>
        </form>
        </div>
        </div>
    </nav>
</header>
<main class="py-5 bg-body-secundary text-center text-dark">
    <div class="container">
        {% block content %}
        <h1 class="text-dody">Tu tienda de confianza con precios más altos, pero de confianza.</h1>
        {% endblock %}
    </div>
</main>
<!-- FOOTER GLOBAL -->
<footer class="bg-dark text-white pt-4 pb-2 mt-5">
    <div class="container">
        <div class="row  small">
            <!-- Sobre nosotros -->
            <div class="col-md-4 md-3">
                <h6 class="text-uppercase">Sobre nosotros</h6>
                <p class="mb-1">ideoiuegos es tu tienda de confianza, compra fácil, barato y con el mejor servicio técnico.</p>  
            </div>
            <!-- Enlace útiles -->
            <div class="col-md-4 mb-3">
                <h6 class="text-uppercase">Enlaces útiles</h6>
                <ul class="">
                    <li><a href="{% url 'home' %}" class="text-white-50 text-decoration-none">Inicio</a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                </ul>

            </div>

        </div>
    </div>


        <p>&copy; 2025 Tienda de Videoiuegos</p>
        <a href="{% url 'home' %}" class="text-body">Inicio</a>
        <a href="{% url 'contacto' %}" class="text-body" ms-3>Contacto</a>
</footer>
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>